body {
  width: 1440px;
  margin: auto;
}

.uppercase {
  text-transform: uppercase;
}

.header {
  display: grid;
  grid-template-columns: 388px 295px 240px;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  height: 109px;
  margin: 92px 49px 92px 51px;
  font-size: 18px;
}

.header__menu .header__links-list {
  display: flex;
  justify-content: space-between;
  gap: 31px;
  height: 23px;
}

.header__menu .header__links-list .header__links-list-item {
  text-decoration: underline;
  text-underline-position: under;
  text-shadow: 0px 3px 5px rgba(70, 70, 70, 0.5);
  list-style: circle;
}

.header__menu .header__links-list .header__links-list-item:hover {
  text-decoration: none;
}

.header__menu .header__links-list .header__links-list-item:first-child {
  text-decoration: none;
  list-style: none;
}

.header__menu .header__links-list .header__links-list-item:first-child:hover {
  text-decoration: underline;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.contact-info,
.address {
  font-style: normal;
  line-height: 24px;
}

.contact-info a {
  text-decoration: underline;
  text-underline-position: under;
}

.contact-info a:hover {
  text-decoration: none;
}

.cover {
  width: 1440px;
  height: 757px;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/cover.png");
  background-repeat: no-repeat;
  background-size: 1440px 757px;
}

.cover__title {
  font-size: 100px;
}
.cover__title .aligned-text {
  display: block;
  letter-spacing: 30px;
}

.cover__title .aligned-text:nth-child(1) {
  padding: 165px 50px 9px 50px;
}
.cover__title .aligned-text .letter-spacing-extended {
  margin-left: 30px;
}
.cover__title .aligned-text:last-child .letter-spacing-extended {
  margin: 0px 30px 0px 0px;
}
.cover__title .aligned-text:nth-child(2) {
  padding: 0px 50px 3px 506px;
}

.cover__title .aligned-text:nth-child(3) {
  padding: 0px 50px 128px 974px;
}

.cover__description {
  padding: 0px 0px 0px 422px;
  word-spacing: 17px;
}

.cover__description-text {
  display: inline;
  font-weight: 400;
  font-size: 22px;
}

.word-spacing-extended {
  margin-left: 5px;
}

.bet-button {
  margin-left: 57px;
  border: solid 1px #fff;
  padding: 11px 32px;
  color: #fff;
  color: #fff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  background-color: #ffffff00;
}

.bet-button:hover {
  color: black;
  background-color: #ffffff;
}

.lots {
  margin: 180px 50px 181px 50px;
}

.lots__heading {
  margin: 0px 0px 27px 40px;
  font-size: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
}

.lots__card-list-item {
  margin: 0px 25px 30px 0px;
  list-style: none;
}
.lots__card-list-item:nth-child(3n) {
  margin: 0;
  list-style: none;
}

.card-link {
  display: block;
  width: 430px;
  height: 450px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
  min-height: 450px;
  color: #fff;
}

.card_type_film {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/card-lot-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_book {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/card-lot-02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_picture {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/card-lot-03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card__title {
  padding: 50px 40px 0px 40px;
  font-size: 22px;
  text-decoration: underline;
}

.card__text {
  padding: 0px 40px 50px 40px;
  font-size: 20px;
}

.lots__look-more-link {
  display: block;
  margin: 0px 0px 0px 40px;
  font-size: 20px;
  text-decoration: underline;
  text-underline-position: under;
}

.lots__look-more-link:hover {
  text-decoration: none;
}

.about {
  display: grid;
  grid-template-columns: 430px 885px;
  grid-template-rows: 63px 114px 63px minmax(247px, auto);
  justify-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 0px 50px 180px 50px;
}
.about__column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about__column:first-child {
  grid-column: 1;
  grid-row: 1/4;
}

.about__column:nth-child(2) {
  display: grid;
  grid-template-columns: 885px;
  grid-template-rows: 114px 63px minmax(247px, auto);
  grid-column: 2;
  grid-row: 2/5;
  align-items: start;
}

.about__logo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: auto;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  display: flex;
  grid-row: 1/2;
  padding-top: 38px;
  font-size: 40px;
}

.about__text {
  flex-direction: column;
  grid-row: 3;
  font-size: 20px;
}
.about__text p {
  padding-top: 25px;
}

.about__text p:first-child {
  padding-top: 8px;
}

.footer {
  display: grid;
  grid-template-columns: 388px 295px 240px;
  justify-content: space-between;
  align-items: start;
  align-content: space-between;
  margin: 92px 49px 92px 51px;
  font-size: 18px;
}

.footer__menu {
  display: flex;
}

.footer__links-list {
  min-height: 97px;
  text-align: center;
  list-style: none;
}

.footer__links-list-item {
  text-decoration: underline;
  text-underline-position: under;
}

.footer__links-list-item:hover {
  text-decoration: none;
}

.footer__links-list-item:first-child {
  text-decoration: none;
}

.footer__links-list-item:first-child:hover {
  text-decoration: underline;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 48px;
  list-style: none;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  max-height: 48px;
}
